@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: #0f0f0f;
  color: #ffffff;
}

body {
  overflow-x: hidden;

  background:
    radial-gradient(
      circle at top left,
      rgba(255, 140, 0, 0.15),
      transparent 25%
    ),

    radial-gradient(
      circle at bottom right,
      rgba(255, 80, 0, 0.12),
      transparent 25%
    ),

    #0f0f0f;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111111;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #ff8c42,
    #ff5e3a
  );

  border-radius: 999px;
}

/* SMOOTH */

html {
  scroll-behavior: smooth;
}